<br><br>
<app-cockpit 
(serverCreated)="onServerAdded($event)"
(bpCreated)="onBlueprintAdded($event)">
</app-cockpit>
<app-server-element *ngFor="let element of elements"
[srvElement]="element">
<p>
  <strong class="card-text" *ngIf="element.type==='server'" [ngStyle]="{'color': 'red'}">{{element.content}}</strong>
  <em *ngIf="element.type==='blueprint'" [ngStyle]="{'color': 'blue'}">{{element.content}}</em>
</p>
</app-server-element>
<br>

<ul>
  <li>We can use alias name for binding the component. Ex: @Input('srvElement')</li>
  <li>To pass data from child to parent component, use EventEmiiter</li>
  <li>In the parent componenet, listen to the events from child and use the data</li>
  <li>We can use local ref instead of two-way binding to get value of an HTML element.
    <ul>
      <li>When two-way binding [ngModel] is used, it creats FormsControl and we need to inport FormsModule</li>
      <li>Use local ref when we just need a value or the entire HTML element </li>
    </ul>
  </li>
  <li>We can use viewchild to access HTML element</li>
  <li>
    <ul>
      <li>Viewchild can be used to access HTML element before executing a method ex: click of a button, input change etc</li>
      <li>With viewchild, we can also pass components if required not just HTML element</li>
      <li>DO NOT CHANGE THE VALUE OF THE ELEMENT USING VIEW CHILE : this.serverContnet.nativeElement.value='Some value'</li>
    </ul>
  </li>
  <li>
    <ul>
      <li>use ngContent to project HTML code for a given componenet. Angular by default ignores the content between &ltcomponents&gtThis text is ignored &ltcomponents &gt</li>
      <li>using ngContent, we can have this content projected to component. Look in cockpit.html and app.html</li>
    </ul>
  </li>
</ul>
